@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

* {
  box-sizing: border-box;
}

.section-title {
  padding: 1rem;
  @include mobile-section-header-font($primary-color-Silver);
}
.section {
  @include tablet {
    padding-left: 1rem;
  }
  @include desktop {
    border-left: 1px solid $secondary-color-Mercury;
  }
}
.container {
  padding-left: 1rem;
  padding-bottom: 1rem;
  display: flex;

  &__img {
    width: 6.25rem;
    height: 4.375rem;
    border-radius: 0.25rem;
  }
  &__text-container {
    padding-left: 1rem;
    padding-right: 1rem;

    @include desktop {
      width: 12rem;
    }

    &--title {
      @include mobile-sub-header-font($secondary-color-BrainFlix-DarkBlack);
      padding-bottom: 0.5rem;
    }
    &--channel {
      @include mobile-body-font($secondary-color-BrainFlix-DarkBlack);
    }
  }
}
