@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

* {
  box-sizing: border-box;
}

.display {
  padding-left: 1rem;
  padding-right: 1rem;
  &__video {
    padding-top: 1rem;
    width: 100%;
    background-size: cover;
  }

  &__title {
    @include mobile-page-header-font($primary-color-BrainFlix-Black);
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }
  &__first-hr {
  }
  &__details {
    display: flex;
    //justify-content: space-between;
    padding-bottom: 1rem;
    &--name-date {
      padding-right: 3rem;
      &__channel {
        padding: 1rem 1rem 0.5rem 0;
        @include mobile-sub-header-font($primary-color-BrainFlix-Black);
      }
      &__timestamp {
        @include mobile-body-font($primary-color-Silver);
      }
    }
    &--views-likes {
      &__views {
        padding: 1rem 1rem 0.5rem 0;
        @include mobile-body-font($primary-color-Silver);

        &--icon {
          padding-right: 0.3rem;
        }
      }
      &__likes {
        @include mobile-body-font($primary-color-Silver);

        &--icon {
          padding-right: 0.3rem;
        }
      }
    }
  }

  &__description {
    @include mobile-body-font($primary-color-BrainFlix-Black);
    padding: 1rem 0 1rem 0;
  }

  &__comments-section {
    &--count {
      @include mobile-sub-header-font($primary-color-BrainFlix-Black);
      padding-bottom: 1rem;
    }
    &--outer {
      display: flex;
    }
    &--avatar {
      border-radius: 50%;
      // position: absolute;
      width: 2.25rem;
      height: 2.25rem;
      // left: 1rem;
      margin-right: 1rem;
      margin-top: 1rem;
    }
    &--comment-input {
      &--title {
        @include mobile-labels-btn-font($primary-color-Silver);
      }
      &--container {
        display: flex;
        flex-direction: column;
        width: 16rem;
        padding-bottom: 1rem;
      }
    }

    &--addcomment {
      height: 6rem;
      margin-bottom: 1rem;
      background-color: $secondary-color-Alabaster;
      border: 1px solid $secondary-color-Mercury;
      border-radius: 0.1875rem;
      &:active {
        border: 2px solid $primary-color-BrainFlix-Blue;
      }
    }
    &--btn {
      @include mobile-labels-btn-font(white);
      background-color: $primary-color-BrainFlix-Blue;
      border-radius: 0.1875rem;
      border: none;
    }
    &--btn-upload {
    }

    &--outer-container {
      display: flex;
      padding-top: 1rem;
    }

    &--comments {
    }
    &--comment {
    }
    &--comment--image {
      width: 2.25rem;
      height: 2.25rem;
      background-color: #e1e1e1;
      border-radius: 50%;
      margin-right: 1rem;
    }
    &--comment--namecontainer {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0.5rem;
      @include mobile-sub-header-font($primary-color-BrainFlix-Black);

      &--date {
        @include mobile-sub-header-font($primary-color-Silver);
      }
    }
    &--comment--text {
      @include mobile-body-font($primary-color-BrainFlix-Black);
      padding-bottom: 0.5rem;
    }
  }
}
