@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

* {
  box-sizing: border-box;
}

.display {
  &__video {
    margin-top: 1rem;
    width: 100%;
    background-size: cover;
    background-color: $secondary-color-BrainFlix-DarkBlack;

    @include tablet {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
    @include desktop {
      padding-left: 6.5rem;
      padding-right: 6.5rem;
    }
  }

  &__title {
    padding-left: 1rem;
    padding-right: 1rem;
    @include mobile-page-header-font($primary-color-BrainFlix-Black);
    padding-top: 1.5rem;
    padding-bottom: 1rem;

    @include tablet {
      margin-left: 1.5rem;
    }
  }
  &__first-hr {
    margin-left: 1rem;
    margin-right: 1rem;

    @include tablet {
      display: none;
    }
  }
  &__details {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    padding-bottom: 1rem;

    @include tablet {
      display: flex;
      justify-content: space-between;
    }

    &--name-date {
      padding-right: 3rem;
      &__channel {
        padding: 1rem 1rem 0.5rem 0;
        @include mobile-sub-header-font($primary-color-BrainFlix-Black);

        @include tablet {
          padding: 0;
          padding-right: 1.5rem;
        }
      }
      &__timestamp {
        @include mobile-body-font($primary-color-Silver);
      }

      @include tablet {
        display: flex;
        margin-left: 1.5rem;
      }
    }

    &--views-likes {
      &__views {
        padding: 1rem 1rem 0.5rem 0;
        @include mobile-body-font($primary-color-Silver);

        &--icon {
          padding-right: 0.3rem;
        }

        @include tablet {
          padding: 0;
          padding-right: 1.5rem;
        }
      }
      &__likes {
        @include mobile-body-font($primary-color-Silver);

        &--icon {
          padding-right: 0.3rem;
        }
      }

      @include tablet {
        display: flex;
        margin-right: 1.5rem;
      }
    }

    &--hr {
      margin-right: 1rem;

      @include tablet {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
      }
    }
  }

  &__description {
    @include mobile-body-font($primary-color-BrainFlix-Black);
    padding: 1rem 0 1rem 0;
    margin-left: 1rem;
    margin-right: 1rem;

    @include tablet {
      margin-left: 2.5rem;
      margin-right: 2.5rem;
    }
  }

  &__comments-section {
    margin-left: 1rem;
    margin-right: 1rem;

    @include tablet {
      margin-left: 2.5rem;
      margin-right: 2.5rem;
    }

    &--count {
      @include mobile-sub-header-font($primary-color-BrainFlix-Black);
      padding-bottom: 1rem;
    }
    &--outer {
      display: flex;
    }
    &--avatar {
      border-radius: 50%;
      width: 2.25rem;
      height: 2.25rem;
      margin-right: 1rem;
      margin-top: 1rem;
    }
    &--btn-upload {
    }
    &--comment-input {
      &--title {
        @include mobile-labels-btn-font($primary-color-Silver);
      }
      &--container {
        display: flex;
        flex-direction: column;
        width: 16rem;
        padding-bottom: 1rem;

        @include tablet {
          flex-direction: row;
          width: 100%;
        }
      }
    }

    &--addcomment {
      height: 6rem;
      margin-bottom: 1rem;
      background-color: $secondary-color-Alabaster;
      border: 1px solid $secondary-color-Mercury;
      border-radius: 0.1875rem;
      &:active {
        border: 2px solid $primary-color-BrainFlix-Blue;
      }

      @include tablet {
        height: 2rem;
        width: 31rem;
        margin-right: 1rem;
      }
    }
    &--btn {
      @include mobile-labels-btn-font(white);
      background-color: $primary-color-BrainFlix-Blue;
      border-radius: 0.25rem;
      border: none;
      //width: 100%;

      @include tablet {
        height: 2rem;
        width: 10rem;
      }
    }

    &--outer-container {
      display: flex;
      padding-top: 1rem;
      padding-right: 1rem;
    }

    &--comments {
    }
    &--comment {
    }
    &--comment--image {
      width: 2.25rem;
      height: 2.25rem;
      background-color: #e1e1e1;
      border-radius: 50%;
      margin-right: 1rem;
    }
    &--comment--namecontainer {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0.5rem;
      @include mobile-sub-header-font($primary-color-BrainFlix-Black);

      &--date {
        @include mobile-sub-header-font($primary-color-Silver);
      }
    }
    &--comment--text {
      @include mobile-body-font($primary-color-BrainFlix-Black);
      padding-bottom: 0.5rem;
    }
  }
}

hr {
  margin-left: 1rem;
  //margin-right: 1rem;

  @include tablet {
    //margin-left: 2.5rem;
    // margin-right: 2.5rem;
  }
}
