@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

* {
  box-sizing: border-box;
}

.video-container {
  margin-top: 1rem;
  background-color: $secondary-color-BrainFlix-DarkBlack;
  &__video {
    width: 100%;
    aspect-ratio: 2/1;

    @include tablet {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
    @include desktop {
      padding-left: 12.5rem;
      padding-right: 12.5rem;
    }
  }
}
